:root {
    --text-color: black; /* Default text color for day mode */
    --background-color: white; /* Default background color for day mode */
    /* Define other variables as needed */
    --companylink-color:purple;

}

body.night-mode {
    --text-color: white; /* Text color for night mode */
    --background-color: #282828; /* Background color for night mode */
    --companylink-color:yellowgreen;
}
body{
    background-color: var(--background-color);
}
.about-me {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    gap: 2rem;
    padding: 10rem 3rem; /* Add some padding */
}

.content {
    width: 50%;
    max-width: 550px; /* Set a max-width for the text container */
    
    
}

.content h1 {
    color:var(--text-color);
    font-size: 3rem;
    position:relative;
    bottom:1.2rem;
 
}

.content p {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.6;
}

.company-link{
    color: var(--companylink-color);
}

.resume-button {
    background-color: black; /* Gold color */
    color: white; /* Text color */
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 2rem;
    position:relative;
    border: 2px solid black; /* Border for the button */
    top:1rem;
    font-weight:bold;
}

.resume-button:hover{
    background-color:white;
    color:black;
    transition: all 0.3s ease;
}

.profile-picture {
    width: 50%; /* Take up half of the container */
    max-width:560px;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    /* border: 5px solid black; */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .about-me {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .content, .profile-picture {
        width: 90%; /* Use more of the screen for content */
        max-width: none; /* Remove the max-width on smaller screens */
    }

    .content {
        order: 2; /* Ensure the text comes after the image on small screens */
    }

    .profile-picture {
        order: 1; /* Ensure the image comes before the text on small screens */
    }

    /* Assuming .content is the container for .resume-button */
    .content {
        display: flex;
        flex-direction: column;
        align-items: center; /* This will center the button horizontally */
    }

    .resume-button {
        /* Remove any specific positioning if it was there */
        /* Ensure that width and padding are consistent with non-responsive state */
        margin-top: 15px; /* Add some top margin if needed */
    }
}
