:root {
    --text-color: black; /* Default text color for day mode */
    --background-color: white; /* Default background color for day mode */
    /* Define other variables as needed */
}

body.night-mode {
    --text-color: white; /* Text color for night mode */
    --background-color: #282828; /* Background color for night mode */
}


main {
    background-color: var(--background-color); /* Use a CSS variable for the background */
   
}


h1{
    text-align: center;
    color:var(--text-color)
}

h1 .contact-icon {
    margin-left: 1rem; /* Adds some space between the icon and the text */
    margin-bottom:0.5rem;
    vertical-align: middle; /* Aligns the icon with the middle of the text */
    width: 30px; /* Example width */
    height: 30px; /* Example height */
}

.contact-form-container {
    position: relative; 
    max-width: 700px;
    min-height:700px;
    margin: 140px auto;
    padding: 2rem;
    background: var(--background-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   
    border:solid white;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color:var(--text-color);
    
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color:var(--text-color);
   

}

.input-group label {
    font-weight: bold;
    margin-bottom: 0;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    
}

.input-group textarea {
    height: 200px;
    resize: vertical;
}

.submit-button {
    position: absolute; /* Position the button absolutely within its parent */
    bottom: 2rem; /* Distance from the bottom of the container */
    right: 2rem; /* Distance from the left of the container */
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    width:auto;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for true centering */
    font-weight:bold;
}

.submit-button:hover {
    transform: translateX(-50%) scale(1.1); /* Zoom in effect */
    transition: transform 0.3s ease; /* Ensure smooth scaling */
}

.submit-button::after {
    content: 'Sorry,feature in progress';
    display: none;
    color: red; /* Example color */
    font-size: 14px; /* Example font size */
    /* Add other styling as needed */
}

.submit-button.clicked::after {
    display: block;
    /* Additional styles for the visible state */
}

.contact-form-container, .footer-icons, .footer-text{
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Slower transition */
}

/* State after scrolling into view remains the same */
.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Responsive adjustments */

@media screen and (max-width: 1024px) {
 
    .submit-button {
        position: absolute; /* Maintain absolute positioning */
        bottom: 2rem; /* Keep the distance from the bottom */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for true centering */
        width: auto; /* Maintain the width */
    }
    .contact-form-container {
        max-width:80%; /* Adjust the width to 90% of the viewport width */
       
    }
    .form-row {
        flex-direction: column;
    }
}


@media screen and (max-width: 440px) {
    .contact-form-container {
        width: 90%; /* Adjust the width as needed */
        
        padding: 2rem 1rem;  /* Adjust padding as needed for smaller screens */
    }
    .submit-button {
        position: absolute; /* Maintain absolute positioning */
        bottom: 2rem; /* Keep the distance from the bottom */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust for true centering */
        width: auto; /* Maintain the width */
    }
    
}

