
h1{
    text-align: center;
}

h1 .contact-icon {
    margin-left: 1rem; /* Adds some space between the icon and the text */
    margin-bottom:0.5rem;
    vertical-align: middle; /* Aligns the icon with the middle of the text */
    width: 30px; /* Example width */
    height: 30px; /* Example height */
}

.contact-form-container {
    position: relative; 
    max-width: 600px;
    min-height:600px;
    margin: 100px auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 0;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group textarea {
    height: 200px;
    resize: vertical;
}

.submit-button {
    position: absolute; /* Position the button absolutely within its parent */
    bottom: 2rem; /* Distance from the bottom of the container */
    left: 2rem; /* Distance from the left of the container */
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #3700b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .submit-button {
        position: static; /* Default static position */
        display: block; /* Full width */
        width: 100%; /* Full width on smaller screens */
        margin-top: 1rem; /* Space above the button */
    }
}



