:root {
    --text-color: black; /* Default text color for day mode */
    --background-color: white; /* Default background color for day mode */
    /* Define other variables as needed */
}

body.night-mode {
    --text-color: #fff; /* Text color for night mode */
    --background-color: #282828; /* Background color for night mode */
}


footer {
    text-align: center;
    padding: 20px ;
    
    background-color: var(--background-color);
}

.footer-icons a {
    margin: 0 10px; /* Adjust spacing around icons */
    display: inline-block; /* Align icons inline */
    
}

.footer-icons img {
    width: 40px; /* Adjust icon size */
    height: auto;
}

.footer-text {
    margin-top: 20px; /* Space above the text */
    padding-bottom: 2rem;
    color: var(--text-color);
}
