header {
  border-radius: 1 rem;
 
}

.nav {
  display: flex; /* Flex container for the navigation */
  align-items: center;
  justify-content: space-between;
}

.name {
/* Inline-block for name for specific alignment  allowing it to be laid
 out like an inline element while accepting block-level properties like padding and margin*/
  display: inline-block; 
  padding: 14px 8rem;
  
}

.name a {
  font-size: larger;
  color: black;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  transition: color 0.3s ease; /* Transition effect for color change */
  white-space: nowrap;
}

.name a:hover {
  color: orange
}

/* Navigation bar */
ul {
  display: inline-block; /* Make the UL an inline-block element */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: Lavender; */
  margin-right: 2rem;
}


li {
  display: inline; /* Each LI as an inline element making the list items flow in line with each other.*/
  float: left;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 1.5rem;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: larger;
  transition: color 0.4s ease; /* Transition effect for color change */
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: orange;
}


/*Navigation side bar */

.sidebar{
  
  position:fixed;
  top:0;
  right:0;
  height:32vh;
  width:200px;
  z-index:999;
  background-color:rgb(253, 253, 253);
  backdrop-filter: blur(10px);
  box-shadow:-10px 0 10px rgba(0, 0, 0, 0);
  border-radius: 10px;
  display:none;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width:100%;
}

.hamburger_menu{
  display:none;
}

.menu_button {
  display:none;
}
/* Responsive design for screens between 430px and 932px fit 14 pro max*/
@media screen and  (max-width: 932px) {
  
  .name {
    margin-left: -70px; /* Adjust the value as needed to move text a bit to the left */
    white-space: nowrap; /* Prevent the text from wrapping */
  }

  .hideOnMobile{
    display:none;
  }

  .hamburger_menu{
    margin-left: 30px;
    
  }
  
  .menu_button{
    display :block;
  }

  .sidebar{
    width:92%;
    opacity: 0.7;
    
  }

 

 
}

