:root {
    --text-color: black; /* Default text color for day mode */
    --background-color: white; /* Default background color for day mode */
    /* Define other variables as needed */
    --progressbar-color:#d13639;
}

body.night-mode {
    --text-color: white; /* Text color for night mode */
    --background-color: #282828; /* Background color for night mode */
    --progressbar-color:yellowgreen;
}


.skills-section {
    max-width: 900px; /* Adjust as needed */
    margin: 0 auto; /* Centers the section */
    padding: 4rem 0; /* Add space above and below the section */
  
}

.skills-section h1 {
    font-size:xx-large;
    margin-bottom: 2rem; /* Space below the section title */
    text-decoration: underline;
    text-decoration-color: var(--progressbar-color); /* Color for the underline */
    text-align:center;
    color:var(--text-color)
}

.row{
    margin: 1rem 0;
    /* A shorthand property for the grid-template-rows, grid-template-columns,
     grid-template-areas, grid-auto-rows, grid-auto-columns, and the grid-auto-flow properties */
    display:grid;
    /* This property is part of the CSS Grid Layout. 
    It specifies the size of the columns in a grid container. */
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
}

.item-text{
    display:flex;
    justify-content: flex-start;
    font-weight:600;
    font-size:1.3rem;
    position:relative;
    color:var(--text-color);
}

.item-text span:last-child{
    position: absolute;
}

.item-text .w-90{
    margin-left:90%;
    color:var(--text-color);
}

.item-text .w-80{
    margin-left:80%;
    color:var(--text-color);
}

.item-text .w-70{
    margin-left:70%;
    color:var(--text-color);
}

.item-text .w-85{
    margin-left:85%;
    color:var(--text-color);
}

.progress {
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width:100%;
    background-color: var(--text-color);
    overflow:hidden;
   
}

.progress-bar{
    background-color: var(--progressbar-color);
    height:100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.progress-bar.w-90{
    width:90%
}


.progress-bar.w-80{
    width:80%
}


.progress-bar.w-70{
    width:70%
}


.progress-bar.w-85{
    width:85%
}

/* Animation for different progress widths */
.progress-bar.w-90{

    /* This is the timing function for the animation. 
    It causes the animation to start slowly, speed up in the middle, 
    and then slow down again towards the end, creating a smooth effect. */

    animation: fillBar90 2s ease-in-out;

}

.progress-bar.w-80{
    animation:fillBar80 2s ease-in-out;
}

.progress-bar.w-70 {
    animation: fillBar70 2s ease-in-out;
}

.progress-bar.w-85 {
    animation: fillBar85 2s ease-in-out;
}
/* Keyframes for different progress percentages */
@keyframes fillBar90 {
    from { width: 0; }
    to { width: 90%; }
}

@keyframes fillBar80{
    from{width:0;}
    to {width:80%;}
}

@keyframes fillBar70{
    from {width: 0;}
    to {width: 70%; }
}

@keyframes fillBar85{
    from {width: 0;}
    to {width: 85%; }
}
/* Responsive adjustments for smaller screens */
@media screen and (max-width: 1024px) {
    
    .skills-section {
        max-width:70%; /* Adjust the width to 90% of the viewport width */
        padding: 2rem 0; /* Optionally, adjust the padding for smaller screens */
    }


}


@media screen and (max-width: 576px) {
    .row {
        grid-template-columns: 1fr; /* 1 column on smaller screens */
    }
  
    .skills-section {
        max-width:70%; /* Adjust the width to 90% of the viewport width */
        padding: 2rem 0; /* Optionally, adjust the padding for smaller screens */
        
    }

}